<div class="row row-sm">
  <div class="col-xl-4 col-lg-6 col-md-12">
    <div class="card crypto crypt-primary overflow-hidden">
      <div class="card-body iconfont text-left">
        <div class="media">
          <div class="coin-logo bg-primary-transparent"> <i class="cf cf-eth text-primary"></i> </div>
          <div class="media-body">
            <h6>Ethereum</h6>
            <p>ETH (USD) = $148.46 (<span class="text-danger">-12.24%</span>)</p>
          </div>
          <div class="card-body-top mb-3">
            <div> <a href="">14</a> USD Markets </div>
            <div> <a href="">82</a> LTC Markets </div>
          </div>
        </div>
        <div class="flot-wrapper">
          <div class="flot-chart ht-150 mt-4" id="flotChart3" style="padding: 0px;"><canvas class="flot-base" width="871" height="300" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 435.984px; height: 150px;"></canvas><canvas
              class="flot-overlay" width="871" height="300" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 435.984px; height: 150px;"></canvas></div>
        </div>
      </div>
      <div class="card-footer">
        <nav class="nav"> <a class="nav-link active" href=""><span>1D</span><span>-12.24%</span></a> <a class="nav-link" href=""><span>1W</span><span>-16.48%</span></a> <a class="nav-link" href=""><span>1M</span><span>-15.21%</span></a> <a
            class="nav-link" href=""><span>1Y</span><span>-40.17%</span></a> </nav>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-12">
    <div class="card crypto crypt-danger overflow-hidden">
      <div class="card-body iconfont text-left">
        <div class="media">
          <div class="coin-logo bg-danger-transparent"> <i class="cf cf-ltc tx-18 text-danger"></i> </div>
          <div class="media-body">
            <h6>Litecoin</h6>
            <p>LTC (USD) = $45.81 (<span class="text-danger">-12.24%</span>)</p>
          </div>
          <div class="card-body-top">
            <div> <a href="">21</a> USD Markets </div>
            <div> <a href="">56</a> LTC Markets </div>
          </div>
        </div>
        <div class="flot-wrapper">
          <div class="flot-chart ht-150  mt-4" id="flotChart5" style="padding: 0px;"><canvas class="flot-base" width="871" height="300" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 435.984px; height: 150px;"></canvas><canvas
              class="flot-overlay" width="871" height="300" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 435.984px; height: 150px;"></canvas></div>
        </div>
      </div>
      <div class="card-footer">
        <nav class="nav"> <a class="nav-link active" href=""><span>1D</span><span>-15.24%</span></a> <a class="nav-link" href=""><span>1W</span><span>-24.68%</span></a> <a class="nav-link" href=""><span>1M</span><span>-17.15%</span></a> <a
            class="nav-link" href=""><span>1Y</span><span>-30.23%</span></a> </nav>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-12 col-md-12">
    <div class="card crypto  crypt-success overflow-hidden">
      <div class="card-body iconfont text-left">
        <div class="media">
          <div class="coin-logo bg-success-transparent"> <i class="cf cf-xrp text-success"></i> </div>
          <div class="media-body">
            <h6>Ripple</h6>
            <p>XRP (USD) = $0.2195(<span class="text-danger">-2.97%</span>)</p>
          </div>
          <div class="card-body-top">
            <div> <a href="">4</a> USD Markets </div>
            <div> <a href="">45</a> LTC Markets </div>
          </div>
        </div>
        <div class="flot-wrapper">
          <div class="flot-chart ht-150 mt-4" id="flotChart1" style="padding: 0px;"><canvas class="flot-base" width="871" height="300" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 435.984px; height: 150px;"></canvas><canvas
              class="flot-overlay" width="871" height="300" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 435.984px; height: 150px;"></canvas></div>
        </div>
      </div>
      <div class="card-footer">
        <nav class="nav"> <a class="nav-link active" href=""><span>1D</span><span>-14.32%</span></a> <a class="nav-link" href=""><span>1W</span><span>-24.39%</span></a> <a class="nav-link" href=""><span>1M</span><span>-42.12%</span></a> <a
            class="nav-link" href=""><span>1Y</span><span>-50.34%</span></a> </nav>
      </div>
    </div>
  </div>
</div>