<nav class="horizontalMenu clearfix">
	<ul class="horizontalMenu-list">
		<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/index" class=""><i class="ti-home menu-icon"></i> Dashboard </a></li>
		<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/widgets" class=""><i class="ti-briefcase"></i> Widgets</a></li>
		<li aria-haspopup="true"><a href="#" class="sub-icon"><i class="ti-bar-chart-alt"></i> Charts <span class="badge badge-danger horizontal-badge">5</span><i class="fe fe-chevron-down horizontal-icon"></i></a>
			<ul class="sub-menu">
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/chart-morris" class="slide-item">Morris Charts</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/chart-flot" class="slide-item">Flot Charts</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/chart-chartjs" class="slide-item">ChartJS</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/chart-echart" class="slide-item">Echart</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/chart-sparkline" class="slide-item">Sparkline</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/chart-peity" class="slide-item"> Chart-peity</a></li>
			</ul>
		</li>
		<li aria-haspopup="true"><a href="#" class="sub-icon"><i class="ti-layers"></i> Elements<i class="fe fe-chevron-down horizontal-icon"></i></a>
			<div class="horizontal-megamenu clearfix">
				<div class="container">
					<div class="mega-menubg hor-mega-menu">
						<div class="row">
							<div class="col-lg-3 col-md-12 col-xs-12 link-list">

								<ul>
									<li><h3 class="fs-14 font-weight-bold mb-1 mt-2">Elements</h3></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/alerts" class="slide-item">Alerts</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/avatar" class="slide-item">Avatar</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/breadcrumbs" class="slide-item">Breadcrumbs</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/buttons" class="slide-item">Buttons</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/badge" class="slide-item">Badge</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/dropdown" class="slide-item">Dropdown</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/thumbnails" class="slide-item">Thumbnails</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/images" class="slide-item">Images</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/list-group" class="slide-item">List Group</a></li>

								</ul>
							</div>
							<div class="col-lg-3 col-md-12 col-xs-12 link-list">
								<ul>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/navigation" class="slide-item">Navigation</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/pagination" class="slide-item">Pagination</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/popover" class="slide-item">Popover</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/progress" class="slide-item">Progress</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/spinners" class="slide-item">Spinners</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/media-object" class="slide-item">Media Object</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/typography" class="slide-item">Typography</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/tooltip" class="slide-item">Tooltip</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/toast" class="slide-item">Toast</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/tags" class="slide-item">Tags</a></li>
								</ul>
							</div>
							<div class="col-lg-3 col-md-12 col-xs-12 link-list">
								<ul>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/tabs" class="slide-item">Tabs</a></li>
									<li><h3 class="fs-14 font-weight-bold mb-1 mt-2">Apps</h3></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/cards" class="slide-item">Cards</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/draggablecards" class="slide-item">Draggablecards</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/rangeslider" class="slide-item">Range-slider</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/calendar" class="slide-item">Calendar</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/contacts" class="slide-item">Contacts</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/image-compare" class="slide-item">Image-compare</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/notification" class="slide-item">Notification</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/widget-notification" class="slide-item">Widget-notification</a></li>

								</ul>
							</div>
							<div class="col-lg-3 col-md-12 col-xs-12 link-list">
								<ul>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/treeview" class="slide-item">Treeview</a></li>
									<li><h3 class="fs-14 font-weight-bold mb-1 mt-2">Icons <span class="badge badge-success ">New</span></h3></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/icons" class="slide-item">Icons</a></li>
									<li><h3 class="fs-14 font-weight-bold mb-1">Maps</h3></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/map-leaflet" class="slide-item">Leaflet Maps</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/map-vector" class="slide-item">Vector Maps</a></li>

									<li><h3 class="fs-14 font-weight-bold mb-1">Tables</h3></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/table-basic" class="slide-item">Basic Tables</a></li>
									<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/table-data" class="slide-item">Data Tables</a></li>

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li aria-haspopup="true"><a href="#" class="sub-icon"><i class="ti-write"></i> Advanced UI <i class="fe fe-chevron-down horizontal-icon"></i></a>
			<ul class="sub-menu">
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/accordion" class="slide-item"> Accordion</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/carousel" class="slide-item" >Carousel</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/collapse" class="slide-item">Collapse</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/modals" class="slide-item">Modals</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/timeline" class="slide-item">Timeline</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/sweet-alert" class="slide-item">Sweet Alert</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/rating" class="slide-item">Ratings</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/counters" class="slide-item">Counters</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/search" class="slide-item">Search</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/userlist" class="slide-item"> Userlist</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/blog" class="slide-item">Blog</a></li>
			</ul>
		</li>
		<li aria-haspopup="true"><a href="#" class="sub-icon"><i class="ti-agenda"></i> Utilities <i class="fe fe-chevron-down horizontal-icon"></i></a>
			<ul class="sub-menu">
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/background" class="slide-item">Background</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/border" class="slide-item">Border</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/display" class="slide-item">Display</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/flex" class="slide-item">Flex</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/height" class="slide-item">Height</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/margin" class="slide-item">Margin</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/padding" class="slide-item">Padding</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/position" class="slide-item">Position</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/width" class="slide-item">Width</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/extras" class="slide-item">Extras</a></li>
			</ul>
		</li>
		<li aria-haspopup="true"><a href="#" class="sub-icon"><i class="ti-receipt"></i> Pages <i class="fe fe-chevron-down horizontal-icon"></i></a>
			<ul class="sub-menu">
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/profile" class="slide-item">Profile</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/editprofile" class="slide-item">Edit-profile</a></li>
				<li aria-haspopup="true" class="sub-menu-sub"><a href="#">Mail <span class="badge badge-pink side-badge">5</span></a>
					<ul class="sub-menu">
						<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/mail" class="slide-item">Mail-inbox</a></li>
						<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/mail-compose" class="slide-item">Mail-compose</a></li>
						<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/mail-read" class="slide-item">Mail-read</a></li>
						<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/mail-settings" class="slide-item">Mail-settings</a></li>
						<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/chat" class="slide-item">Chat</a></li>
					</ul>
				</li>
				<li aria-haspopup="true" class="sub-menu-sub"><a href="#">Forms <span class="badge badge-info side-badge">6</span></a>
					<ul class="sub-menu">
						<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/form-elements" class="slide-item">Form Elements</a></li>
						<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/form-advanced" class="slide-item">Advanced Forms</a></li>
						<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/form-layouts" class="slide-item">Form Layouts</a></li>
						<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/form-validation" class="slide-item">Form Validation</a></li>
						<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/form-wizards" class="slide-item">Form Wizards</a></li>
						<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/form-editor" class="slide-item">WYSIWYG Editor</a></li>
					</ul>
				</li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/invoice" class="slide-item">Invoice</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/todotask" class="slide-item">Todotask</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/pricing" class="slide-item">Pricing</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/gallery" class="slide-item">Gallery</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/faq" class="slide-item">Faqs</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/emptypage" class="slide-item">Empty Page</a></li>
				<li aria-haspopup="true" class="sub-menu-sub"><a href="#">submenu <span class="badge badge-pink side-badge">3</span></a>
					<ul class="sub-menu">
						<li aria-haspopup="true"><a href="#" class="slide-item">sub-menu-1</a></li>
						<li aria-haspopup="true" class="sub-menu-sub"><a href="#">submenu-2 <span class="badge badge-pink side-badge">2</span></a>
							<ul class="sub-menu">
								<li aria-haspopup="true"><a href="#" class="slide-item">sub-menu-2.1</a></li>
								<li aria-haspopup="true"><a href="#" class="slide-item">sub-menu-2.2</a></li>
							</ul>
						</li>
						<li aria-haspopup="true"><a href="#" class="slide-item">sub-menu-3</a></li>
					</ul>
				</li>
			</ul>
		</li>
		</li>
		<li aria-haspopup="true"><a href="#" class="sub-icon"><i class="ti-shopping-cart"></i> E-Commerce <span class="badge badge-success horizontal-badge">3</span><i class="fe fe-chevron-down horizontal-icon"></i></a>
			<ul class="sub-menu">
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/products" class="slide-item"> Products</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/product-details" class="slide-item">Product-Details</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/product-cart" class="slide-item">Shopping Cart</a></li>
			</ul>
		</li>
		<li aria-haspopup="true"><a href="#" class="sub-icon"><i class="ti-id-badge"></i> Custom <i class="fe fe-chevron-down horizontal-icon"></i></a>
			<ul class="sub-menu">
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/signin" class="slide-item">Sign In</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/signup" class="slide-item">Sign Up</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/forgot" class="slide-item">Forgot Password</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/reset" class="slide-item">Reset Password</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/lockscreen" class="slide-item">Lock screen</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/underconstruction" class="slide-item">UnderConstruction</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/error404" class="slide-item">404 Error</a></li>
				<li aria-haspopup="true"><a href="https://laravel.spruko.com/xino/ltr/error500" class="slide-item">500 Error</a></li>
			</ul>
		</li>
	</ul>
</nav>		